@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6, a {
    color: white;
}

body {
    background-color: #0D1223;
}


@layer utils {
    .transition-300 {
        @apply transition-all duration-300;
    }
    .transition-200 {
        @apply transition-all duration-200;
    }
    .absolute-x {
        @apply absolute !-translate-x-1/2 !left-1/2;
    }
    .absolute-y {
        @apply absolute !-translate-y-1/2 !top-1/2;
    }
    .absolute-center {
        @apply absolute-x absolute-y;
    }
    .flex-y-center {
        @apply flex items-center;
    }
    .flex-x-center {
        @apply flex justify-center;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-center-between {
        @apply flex justify-between items-center;
    }
    .flex-between {
        @apply flex justify-between;
    }
}


/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2C5CFF;
    border-radius: 5px;
}


.shimmer {
    background-color: #181F32;
    background-image: linear-gradient(
            to right,
            #25323d 10%,
            #2e3c48 35.78%,
            #25323d 73.28%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    cursor: progress;
}

.shimmer-wrapper.dark .shimmer {
    background: linear-gradient(
            to right,
            #25323d 10%,
            #2e3c48 35.78%,
            #25323d 73.28%
    ) !important;
}

@keyframes placeholderShimmer {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.fade-enter-active {
    animation: fade 0.3s ease-in-out;
}

.fade-leave-active {
    animation: fade 0.3s ease-in-out reverse;
}

.fade-fast-enter-active {
    animation: fade 0.1s ease-in-out;
}
.fade-fast-leave-active {
    animation: fade 0.1s ease-in-out reverse;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
